.campus_content{
	margin: 0px;
}
.campus_content h1{
	margin-bottom: 35px;
    margin-left: 30px;
    padding-top: 50px;
    font-family: "Arial Black", Gadget, sans-serif;
}

.campus_content p{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-bottom: 0px;
    padding-top: 0px;
    font-size: 20px;
}

.campus_info{
	padding-top: 30px;
	padding-bottom: 30px;
}

.email{
	color:red;
}